body {
    background-color: Black;
}

.container-navbar {
    background-color: Blue;
}

.ul-navbar {
    background-color: DarkCyan;
    width: 150px
    height: 100px
}

.li-navbar {
    border: 2px solid gray;
    list-style-type: none;
}
