body {
    background-color: Gray;
}

.container-navbar {
    background-color: Blue;
}

.ul-navbar {
    background-color: DarkCyan;
    width: 500px
    height: 200px
}

.li-navbar {
    border: 2px solid gray;
    list-style-type: none;
}
